@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

button {
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
